@charset "utf-8";

html,body {
	margin:auto;
	font-family:arial,Microsoft YaHei,helvetica,sans-serif;
	font-size:14px;
	color:#000;
	width:600px;
}

.head{
	height:100px;
	background:url(http://localhost:8080/ant/images/banner.jpg) no-repeat;
	border:1px solid green;
	width:inherit;
}

.content{
	color:#666666;
}

table tr{
	height:100px;
}

td.img{
	width:100px;
}

.foot{
	text-align:center;
	height:50px;
}

.login{
	height:50px;
	font-size:24px;
	line-height:50px;
	letter-spacing:20px;
	text-align:center;
	background:green;
}

.login a{
	color:white;
	text-decoration: none;
}