<html>
	<div class='content' style='margin:0 auto;width:600px;height:auto;border:1px solid black'>
		<div class='slogan' style='margin-top:20px;height:150px;border:1px solid black'>
		</div>
		<div class='info' style='margin-top:20px;height:auto;border:1px solid black;padding:30px;'>
		   <div class="update_item" style='height:100px;margin-top:10px;'>
		      <div class="item_picture" style='float:left;width:100px;height:100px;border:1px solid green'>
			     
			  </div>
			  <div class="item_description" style='float:left;width:200px;height:100px;margin-left:10px;border:1px solid red'>
			  </div>
		   </div>
		   <div class="update_item" style='height:100px;margin-top:10px'>
		      <div class="item_picture" style='float:left;width:100px;height:100px;border:1px solid green'>
			     
			  </div>
			  <div class="item_description" style='float:left;width:200px;height:100px;margin-left:10px;border:1px solid red'>
			  </div>
		   </div>
		   <div class="update_item" style='height:100px;margin-top:10px'>
		      <div class="item_picture" style='float:left;height:100px;width:100px;border:1px solid green'>
			     
			  </div>
			  <div class="item_description" style='float:left;width:200px;height:100px;margin-left:10px;border:1px solid red'>
			  </div>
		   </div>
		   
		</div>
		<div class ='foot' style='margin-top:20px;height:100px;border:1px solid black'>
		</div>
	</div>
</html>