@charset "utf-8";

.help_header{

	height:30px;
	line-height:30px;
	font-size:20px;
	background:#cccccc;
	font-family:Microsoft YaHei;
	letter-spacing:1px;
	margin-top:10px;
}

.help_content{
	margin-top:20px;
	font-family:Microsoft YaHei;
}

dt{
	font-size:18px;
	margin-top:10px;
	background:#F7F7F7;
	letter-spacing:0.5px;
}

dd{
	margin-top:2px;
	letter-spacing:1px;
}
